<!DOCTYPE html>
<html>
    <body>
        <h2>hello you are logged in as:<%= status.name %></h2>
        <p>Name:<%= status.name %></p>
        <p>Email id:<%= status.email %></p>
        
    </body>
</html>
